body {
  margin: 0 50px;
  background-color: grey;
  font-family: "Courier New";
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.header-elements {
  width: 500px;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  height: 40px;
  font-size: large;
  border-radius: 8px;
  background-color: #997950;
  cursor: pointer;
}

#game-area {
  display: flex;
  justify-content: space-evenly;
  height: 85vh;
  flex-direction: row;
}

.tile {
  position: absolute;
  z-index: 9;
  box-sizing: border-box;
  cursor: grab;
  background-image: url("wood-texture.jpg");
}

#board {
  width: 560px;
  height: 640px;
  padding: 20px;
  border: 4px solid black;
  border-radius: 30px;
  background-image: url("wood-texture.jpg");
  z-index: 5;
}

.tile-space {
  width: 80px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  font-size: xx-large;
}

#tile-area {
  width: 550px;
}
